<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<base href="/">  

<title>{{scenescape.title}}</title>

<link rel="icon" type="image/png" href="{{scenescape.favicon}}">
