<!-- open graph meta tags -->
<meta property="og:url"         content="{{og.url}}" />
<meta property="og:title"       content="{{og.title}}" />
<meta property="og:description" content="{{og.description}}" />
<meta property="og:image"       content="{{og.image}}" />
<meta property="og:site_name"   content="{{og.siteName}}" />

<!-- custom type -->
<meta property="og:type"        content="gallery" />

<!-- SceneScape Facebook App ID -->
<meta property="fb:app_id"      content="416211581831594" />  
