<!-- open graph meta tags -->
<meta property="og:url"         content="{{og.url}}" />
<meta property="og:title"       content="{{og.title}}" />
<meta property="og:description" content="{{og.description}}" />
<meta property="og:image"       content="{{og.imageUrl}}" />
<meta property="og:image:type"  content="{{og.imageType}}" />
<meta property="og:site_name"   content="{{og.siteName}}" />
<meta property="og:type"        content="blog" />

<!-- SceneScape Facebook App ID -->
<meta property="fb:app_id"      content="416211581831594" />  
