
  {% for scene in f_sceneSearch('descendents', 'ignore:default.scene', 'limit:100', 'type:all') %}
    <scene>
      <sceneprops>
        <scenepath>  {{- scene.scenePath()     -}}    </scenepath>
        <priority>   {{- scene.prop('priority')-}}    </priority>
        <title>      {{- scene.prop('title')   -}}    </title>
        <description>{{scene.prop('description')}}    </description>
        <sceneshot src="{{- scene.prop('sceneshot', 'src') -}}" />
      </sceneprops>
    </scene>
  {% endfor %}

